body{
  background-color: #5a5a5ad2;
  background-image: url(./bg.jpeg);
  background-repeat: no-repeat;
  background-size: 2000px 1250px;
}

.App {
  text-align: center;
  background-color: #0722355d;
  min-height: 600px ;
  width: 450px;
  margin : 20px auto;
  border-radius: 20px;
  padding-bottom: 20px;
}
.outterBox{
  text-align: center;
  background-color: #b9b9b9c7;
  min-height: 800px;
  width: 650px;
  margin : 40px auto;
  border-radius: 20px;
  padding-bottom: 20px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  height: 10px;
}
.outterBox span{
  font-size: 20px;
}
.outterBox h2{
  margin: 10px ;
  height:10px;
}
#todo-form{
  margin-top:40px;
}
#todo-form input{
  background-color: rgb(199, 210, 224);
  border: 0;
  width: 350px;
  height: 40px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 20px;
  font-size: 18px;
  color: rgba(43, 73, 99, 0.705);
}
#todo-form input::placeholder{
  color: #1f2f4e;
}

#todo-form input:focus{
  outline: none;
}
#todo-form button{
  height: 40px;
  width:45\px;
  border-radius:10px;
  border:0;
  background-color: #47aec0;
  cursor:pointer;
  font-weight:bolder;
  color: #282c34;
}
#filterTask{
  color: black;
}
#filterTask label{
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height:20px;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
