
#uname label{
    color: black;
    font-size: 18px;
}
#uname input{
    color: black;
    font-size: 18px;
}
#email label{
    color: black;
    font-size: 18px;
}
#email input{
    color: black;
    font-size: 18px;
}
#pw label{
    color: black;
    font-size: 18px;
}
#pw input{
    color: black;
    font-size: 18px;
}
